* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
}

body {
  font-family: Open Sans;
  background-color: whitesmoke;
}

.main {
  height: 560px;
}

.wrapper {
  width: 90%;
  margin: auto;
}

header {
  margin: 20px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

header h1 span {
  display: inline-block;
  position: relative;
}

header h1 span:before, header h1 span:after {
  border-top: 5px solid black;
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  width: 9999px;
}

header h1 span:before {
  right: 100%;
  margin-right: 10px;
}

header h1 span:after {
  left: 100%;
  margin-left: 10px;
}

header h4 #features {
  display: inline-block;
  position: relative;
  text-align: left;
}

#features:after {
  border-bottom: 1px solid black;
  content: "";
  display: block;
  bottom: 25px;
  width: 9999px;
}

 header > p {
   border-bottom: 1px  solid;
 }

h3 {
  margin-top: 0;
}

.special-report {
  width: 20%;
  margin: auto;
  float: left;
  margin: 0 15px;
}

.special-report > .page-num {
  color: red;
  margin: 0;
  font-weight: normal;

}

.special-report > .title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.special-report > .feature {
  margin-bottom: 0;
  margin-top: 0;
}

.special-report > .author {
  font-weight: 600;
  font-style: italic;
  margin: 0 0 30px 0;
}

.special-report > .plus {
  color: red;
  float: right;
  margin: 0 0 0 0;
}

img {
  margin: 0 20px;
  width: 50%;
}

.secondary {
  float: right;
  width: 20%;
  margin: auto;

}

.secondary > .page-num {
  color: red;
  font-weight: normal;
  margin: 0;
}

.secondary > .title {
  font-weight: 700;
  margin: 0;
}

.secondary > p {
  margin: 0;
  font-size: 80%;
}

.secondary > .author {
  margin-bottom: 10px;
  font-size: 600;
  font-style: italic;
}

#fortune {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
}
